@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: #fafafa;
  color: #0a0a0a;
}

html.dark body {
  background: #0a0a0a;
  color: #ffffff;
}
